<% layout ("/layouts/boilerPlate.ejs") %>
<body>
    <div class="d-flex justify-content-between alert alert-danger w-80 mt-2 offset-1" role="alert">
        <%= err %>

    <form method="GET" action="/api/home">
        <button type="submit" class="btn-close" aria-label="Close"></button>
    </form>
    </div>
</body>