<%if(success.length >0){%>
    <div class="alert mt-3 d-flex justify-content-between alert-success w-40 offset-3" role="alert">
        <%= success%>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
<%}else if(error.length>0){%>
    <div class="alert mt-3 d-flex justify-content-between alert-danger w-40 offset-3" role="alert">
        <%= error%>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
<%}else if(login.length>0){ %>
    <div class="alert mt-3 d-flex justify-content-between alert-danger w-25 offset-9" role="alert">
        <%= login%>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
<%} %>
  
