<!-- <footer class="mt-auto w-100 bg-light">
    <hr class="w-75 mx-auto">
    <div class="d-flex flex-column flex-md-row justify-content-between align-items-center w-75 mx-auto p-3">
        <div class="text-center text-md-start">
            &copy;<span>2024 StayEase, Inc</span>
            &#8226;&nbsp;<a href="#" class="text-decoration-none">Terms</a>
            &#8226;&nbsp;<a href="#" class="text-decoration-none">Sitemap</a>
            &#8226;&nbsp;<a href="#" class="text-decoration-none">Privacy</a>
            &#8226;&nbsp;<a href="#" class="text-decoration-none">Your Privacy Choices</a>
        </div>
        <div class="text-center text-md-end mt-3 mt-md-0">
            <span>English (US)</span>&nbsp;
            <span>$ USD</span>&nbsp;
            <i class="bi bi-facebook text-primary-emphasis"></i> &nbsp;
            <i class="bi bi-instagram text-danger"></i> &nbsp;
            <i class="bi bi-twitter text-primary"></i>
        </div>
    </div>
</footer>
</div> -->

<div class="d-flex flex-column">
    <main class="flex-grow-1">
      <!-- Your content goes here (e.g., listing cards or forms) -->
    </main>
  
    <footer class="mt-auto w-100 bg-light">
      <hr class="w-75 mx-auto">
      <div class="d-flex flex-column flex-md-row justify-content-between align-items-center w-75 mx-auto p-3">
        <div class="text-center text-md-start">
          &copy;<span>2024 StayEase, Inc</span>
          &#8226;&nbsp;<a href="#" class="text-decoration-none">Terms</a>
          &#8226;&nbsp;<a href="#" class="text-decoration-none">Sitemap</a>
          &#8226;&nbsp;<a href="#" class="text-decoration-none">Privacy</a>
          &#8226;&nbsp;<a href="#" class="text-decoration-none">Your Privacy Choices</a>
        </div>
        <div class="text-center text-md-end mt-3 mt-md-0">
          <span>English (US)</span>&nbsp;
          <span>$ USD</span>&nbsp;
          <i class="bi bi-facebook text-primary-emphasis"></i>&nbsp;
          <i class="bi bi-instagram text-danger"></i>&nbsp;
          <i class="bi bi-twitter text-primary"></i>
        </div>
      </div>
    </footer>
  </div>
  
