<footer>
    <hr class="w-75 offset-1">
    <div class="d-flex justify-content-between sticky-bottom w-75 offset-1 p-2 mb-1">
        <div class="decoration" style="width: 550px;">
            &copy;<span>2024 Airbnb, Inc</span>
            &#8226;&nbsp;<span>Terms</span>
            &#8226;&nbsp; <span>Sitemap</span>
            &#8226;&nbsp; <span>Privacy</span>
            &#8226;&nbsp; <span>Your Privacy Choices</span>
        </div>
        <div class="decoration" style="min-width:20%">
            <span>English (US)</span>&nbsp;
            <span>$ USD</span>&nbsp;
            <i class="bi bi-facebook text-primary-emphasis"></i> &nbsp;
            <i class="bi bi-instagram text-danger"></i> &nbsp;
            <i class="bi bi-twitter text-primary"></i>
        </div>
    </div>
</footer>

