<nav class="navbar navbar-expand-md bg-body-tertiary sticky-top">
  <div class="container-fluid fs-5">
    <!-- BRAND / LOGO -->
    <a class="navbar-brand" href="/api/home">
      <!-- your SVG or brand text here -->
      <span style="color: rgb(200, 33, 33);">StayEase</span>
    </a>

    <!-- Toggler button for mobile -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapsed content -->
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">

      <!-- LEFT Nav Items (if you want some always on the left) -->
      <ul class="navbar-nav me-auto">
        <% if (userlogin && userlogin.role === process.env.HOST_KEY) { %>
          <li class="nav-item">
            <a class="nav-link" href="/api/createNew">Add Property</a>
          </li>
        <% } else if (userlogin && userlogin.role === process.env.CUSTOMER_KEY) { %>
          <li class="nav-item">
            <a class="nav-link">Need to add</a>
          </li>
        <% } %>
      </ul>

      <!-- RIGHT Nav Items -->
      <ul class="navbar-nav ms-auto">
        <% if (!userlogin) { %>
          <!-- If user NOT logged in -->
          <li class="nav-item">
            <a class="nav-link me-2" href="/api/hostLoginPage">Host login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link me-2" href="/api/loginPage">Log In</a>
          </li>
        <% } else { %>
          <!-- If user IS logged in -->
          <% if (userlogin.role === process.env.HOST_KEY) { %>
            <li class="nav-item">
              <a class="nav-link" href="/api/endSession">Sign Out</a>
            </li>
          <% } else if (userlogin.role === process.env.CUSTOMER_KEY) { %>
            <li class="nav-item">
              <a class="nav-link">Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/api/endSession">Sign Out</a>
            </li>
          <% } %>
        <% } %>
      </ul>
    </div>
  </div>
</nav>
